<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <form method = "post" action = "/login">
        <div>      
            <input name = "nombre" type = "text" id = "nombre" placeholder = "Nombre y Apellido" />
            <input name = "usuario" type = "text" id = "usuario" placeholder = "Nombre de Usuario">
            <input name = "email" type = "email" id = "email" placeholder = "E-mail">
            <label for = "fecha">Fecha de Nacimiento</label>
            <input name = "fecha" type = "date" id = "fecha" placeholder = "mm / dd / yyyy">
            <input name = "domicilio" type = "text" id = "domicilio" placeholder = "domicilio">
            <label for = "">Perfil del Usuario</label>    
        </div>

    </form>

</html>